<table>
    <thead><th>ID</th><th>POST</th>
    <tbody>
    <p><a href="{{path('novo')}}">Novo</a></p>
        {% for post in posts%}
            <tr>
                <td>{{post.id}}</td>
                <td><a href="{{path('editar',{id:post.id})}}">{{post.titulo}}</a></td>
                <td><a href="{{path('excluir',{id:post.id})}}">Excluir</a></td>
            </tr>
        {% endfor%}
    </tbody>
</table>